<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ステージ選択</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'algostudy/css/style.css' %}">
</head>
<body>
    <h1>ステージを選択してください</h1>
    <ul>
        <li><a href="{% url 'stage_template' 1 %}">ステージ 1</a></li>
        <li><a href="{% url 'stage_template' 2 %}">ステージ 2</a></li>
        <li><a href="{% url 'stage_template' 3 %}">ステージ 3</a></li>
        <li><a href="{% url 'stage_template' 4 %}">ステージ 4</a></li>
        <li><a href="{% url 'stage_template' 5 %}">ステージ 5</a></li>
    </ul>
</body>
</html>
