body {
    font-family: Arial, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 80%;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.obstacle {
    background-color: gray; /* 障害物の色 */
}
.goal {
    background-color: green; /* ゴールの色 */
}

.command {
    line-height: 40px;
    background-color: aquamarine;
    height: 40px;
    width: 90%;
    text-align: center;
    border: 1px solid black;
    margin: 1px;
    border-radius: 10px;
}

#drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 500px;
    width: 90%;
}

.grid {
    display: grid;
    overflow: hidden;
    width: fit-content;
    place-items: center;
}

.grid div {
    width: 50px;  /* セルの幅 */
    height: 50px; /* セルの高さ */
    border: 1px solid black;
    display: flex;
    position: relative;             /* Flexboxを使用 */
    align-items: center;        /* 縦方向の中央揃え */
    justify-content: center;    /* 横方向の中央揃え */
}


#player {
    width: 95%;
    height: 95%;
    padding: 1px;
    position: absolute;
    object-fit: contain;
    transform: rotate(0deg);
    z-index: 5;
}

.chat-container {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    height: 400px;
    padding: 10px;
    overflow-y: auto;
}

#chat-box {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#chat-input {
    width: 80%;
}

#send-btn {
    width: 18%;
}
