<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ステージ {{ stage_number }}</title>
    <link rel="stylesheet" href="{% static 'algostudy/css/style_stage_template.css' %}">
</head>

<body>
    <audio id="btn-audio">
        <source src="{% static 'algostudy/audio/for_button.mp3' %}">
    </audio>

    <h1 id="stage">ステージ<span id="stageId">{{ stage_number }}</span></h1>
    <div class ="flex">
        <div class="container">
            <!-- コマンドブロック -->
            <div class="controls">
                <div id="message"></div>
                <div class="command" id="command-move-forward">前に進む</div>
                <div class="command" id="command-turn-right">右に曲がる</div>
                <div class="command" id="command-turn-left">左に曲がる</div>
                <div class="command" id="command-turn-back">後ろを向く</div>
                <div class="command" id="command-repeat">繰り返す</div>
                <div class="command" id="command-wall-collision">壁にぶつかったら,,,</div>
            </div>

            <div class="controls">
                <!-- コマンドエリア -->
                <div id="drop-area"></div>
                <!-- 実行ボタン、リセットボタン -->
                <div class="actions">
                    <button id="executeBlocks">実行</button>
                    <button id="resetButton">リセット</button>
                </div>
            </div>
            <!-- グリッド -->
            <div class="grid-container">
                <div class="grid"></div>
            </div>
        </div>

        <div class="chat-container">
            <div id="chat-box"></div>
            <input type="text" id="chat-input" placeholder="質問を入力してください...">
            <button id="send-btn" onclick="sendMessage()">送信</button>
        </div>
    </div>
    <script src="{% static 'algostudy/js/script_stage_template.js' %}"></script>
</body>

</html>